<div>
  <h1 class="heading">{{title}}</h1>
  <details>
    <summary>{{titleReactNative}}</summary>
    <p>React Native is an open-source mobile application framework created by Facebook, Inc. It is used to develop applications for Android, Android TV, iOS, macOS, tvOS, Web, Windows and UWP by enabling developers to use React's framework along with native platform capabilities</p>
  </details>
  <details>
    <summary>{{titleJPA}}</summary>
    <p>The Java Persistence API (JPA) is a specification of Java. It is used to persist data between Java object and relational database. JPA acts as a bridge betweenobject-oriented domain models and relational database systems.</p>
  </details>
  <details>
    <summary>{{titleSpringBoot}}</summary>
    <p>Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run". We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need minimal Spring configuration.</p>
  </details>
  <details>
    <summary>{{titleJavaScript}}</summary>
    <p>A .js file is a plain text file that contains Javascript scripts, and can therefore be modified with any text editor. It is usually executed by a web browser.</p>
  </details>
  <details>
    <summary>{{titleTypeScript}}</summary>
    <p>TypeScript is an open-source language which builds on JavaScript, one of the world's most used tools, by adding static type definitions. Types provide a way to describe the shape of an object, providing better documentation, and allowing TypeScript to validate that your code is working correctly</p>
  </details>
</div>


