.title {
  align-items: center;
  color: #1976d2;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
}

.content{
  text-align: justify;
  font-size: 1.5vw;
  font-family: "Times New Roman";
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  color: #1976d2;
}


.terminal {
  position: relative;

  border-radius: 6px;

  overflow: hidden;
  background-color: lightgrey;
}
